@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


button {
    font-family: 'Roboto', sans-serif;

}

.form-section {
    display: flex;
    justify-content: center;
}

.form-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 28px;
    box-shadow: 2px 2px 20px gray;
    padding: 15px;
    border-radius: 10px;
    padding-right: 30px;
    padding-top: 30px;

}

label {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

input {
    padding: 12px 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 10px black;
    border: none;
    font-family: 'Roboto', sans-serif;

}